* {
	margin: 0;
	padding: 0;
	background-color: red;
	z-index: 0;
}

body::-webkit-scrollbar {
    display: none;
}

#Body {overflow-x: hidden;}

#Body.noMove {
	overflow: hidden;
}

#Body.Move {
	overflow: none;
}

header {
	position: fixed;
	width: 105vw;
	height: 70px;
	z-index: 1;
}

#topWrapper {
	position: absolute;
	width: 105vw;
	height: 70px;
	top: 0;
}

#headerWrapper {
	position: absolute;
	width: 105vw;
	height: 70px;
	z-index: 5;
	top: 0;
}

#headerWrapper.close {
	animation-name: down;
	animation-duration: 1.4s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#headerWrapper.open {
	animation-name: up;
	animation-duration: 1.4s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#searchIcon {
	position: absolute;
	display: flex;
    align-items: center;
	width: 105vw;
	height: 70px;
	z-index: 0;
	transition: background-color 0.2s ease;
}

#searchIcon.appear {
	background-color: white;
}

#searchIcon.dissappear {
	background-color: rgba(255, 255, 255, 0);
}

#bothButtons {
	position: relative;
	display: flex;
    align-items: center;
	width: 100vw;
	height: 70px;
	z-index: 0;
	background-color: rgba(255, 255, 255, 0);
}

#menuButton {
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
	left: 9vw;
	width: 30px;
	cursor: pointer;
	border: none;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
}

#menuButton.appear {
	animation-name: appear;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#menuButton.dissappear {
	animation-name: dissappear;
	animation-duration: 0.1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#Menu {
	background-color: rgba(255, 255, 255, 0);
}

#searchButton {
	position: absolute;
    top: 52%;
    transform: translateY(-50%);
	right: 9vw;
	width: 25px;
	cursor: pointer;
	border: none;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
}

#searchButton.appear {
	animation-name: appear;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#searchButton.dissappear {
	animation-name: dissappear;
	animation-duration: 0.1s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#Search {
	background-color: rgba(255, 255, 255, 0);
}

#logoWrapper {
	position: absolute;
	width: 100vw;
	height:400px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
}

#logoWrapper.center {
	animation-name: slideMidTop;
	animation-duration: 0.4s;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}


#logoWrapper.decenter {
	animation-name: slideTopMid;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-delay: 0.1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#Logo {
	position: absolute;
	display:flex;
	margin:0 0 10px;
	justify-content:center;
	align-items:center;
	font-size: 1600%;
	width: 100%;
	height: 100%;
	top: 0;
	text-decoration: none;
	color: black;
	letter-spacing: 1vw;
	font-family: Impact;
	transform: scale(1, 1);
	caret-color: white;
	background-color: rgba(255, 255, 255, 0);
}	

#menuWrapper {
	position: absolute;
	width: 1200px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0);
	left: 0;
	opacity: 0;
	z-index: -1;
}

#menuWrapper.close {
	animation-name: close;
	animation-duration: 0.7s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#menuWrapper.open {
	animation-name: open;
	animation-duration: 1.5s;
	animation-timing-function: ease;
	animation-delay: 1s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#Transparent {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	opacity: 0;
	background-color: rgba(255, 255, 255, 0);
	backdrop-filter: blur(0px);
}

#Transparent.open {
	animation-name: transpare;
	animation-duration: 2.5s;
	animation-timing-function: ease;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#Transparent.close {
	animation-name: transpare2;
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#menuParts {
	position: absolute;
	width: 1100px;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0);
	left: 0;
	z-index: -1;
}

#menuParts.close {
	animation-name: close2;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-delay: 0.2s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#menuParts.open {
	animation-name: open2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: both;
}

#menuPart1 {
	position: relative;
	float: left;
	width: 550px;
	height: 100vh;
	background-color: white;
} 

#menuPart2 {
	position: absolute;
	right: 0.1vw;
	width: 550px;
	height: 100vh;
	background-color:#eeeff2;
}

#closeButtonWrapper	 {
	position: absolute;
	right: 0;
	width: 3vw;	
	height: 100vh;	
	background-color: rgba(255, 255, 255, 0);
}

#closeButton {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0);
	left: calc(-40px + 2vw);
	top: 2.5vw;
	cursor: pointer;
	border: none;
	transition: transform 2s ease, backdrop-filter 0.5s ease;
}

#closeButton:hover {
	backdrop-filter: blur(40px);
	opacity: 0.5;
	transform: scale(1.3);
}

#closeButtonImage {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	top: 2px;
	width: 80%;
	height: 80%;
}

footer {
	position: relative;
	float: left;
	display: flex;
    justify-content: center;
    align-items: center;
	width: 100vw;
	height: 950px;
	background-color: black;
}

#footerWrapper {
	width: 1870px;
	height: 950px;
	padding-left: 4vw;
	background-color: black;
}

#Language {
	position: relative;
	float: left;
	width: 96vw;
	height: 20vw;
	padding-top: 60px;
	background-color: black;
}

#Country {
	position: relative;
	display: inline;
	float: left;
	background-color: black;
	color: white;
	font-size: 130%;
	font-family: Porsche;
	letter-spacing: 0.6px;
}

#languageDiv {
	position: relative;
	float: left;
	width: 96vw;
	height: 33px;
	background-color: black;
	padding-top: 15px;
}

#Flag {
	position: relative;
	float: left;
	width: 28px;
	height: 28px;
	border-radius: 50px;
	border: 1.5px solid grey;
}

#currentLanguage {
	position: relative;
	float: left;
	background-color: black;
	color: white;
	left: 15px;
	top: 50%; 
  	transform: translateY(-45%);
	font-size: 105%;
	font-family: Porsche;
}

#footerButton {
	position: relative;
	float: left;
	background-color: black;
	color: white;
	left: 40px;
	top: 50%; 
  	transform: translateY(-45%);
	font-size: 105%;
	border: none;
	cursor: pointer;
	z-index: 0;
	text-decoration: underline;
	font-family: Porsche;
}

#footerButton:hover{color: red;}


@font-face {font-family: Gucci; src: url(Surse/Fonts/Granjon.otf);}

@font-face {font-family: Impact;src: url(../Surse/Fonts/Impact.ttf);}

@font-face {font-family: Porsche;src: url(../Surse/Fonts/Porsche.ttf);}

@keyframes slideMidTop {from {top: 0;}to {top: 50%; transform: translateY(-50%) scale(0.2);}}

@keyframes slideTopMid {from {top: 50%; transform: translateY(-50%) scale(0.2);}to {top: 0;}}

@keyframes close {from {left: 0; opacity: 1; z-index: 2;}to {left: -55vw; opacity: 0; z-index: -1;}}

@keyframes close2 {from {left: 0; z-index: 2;}to {left: -50vw; z-index: -1;}}

@keyframes open {from {left: -55vw; opacity: 0; z-index: -1;}to {left: 0; opacity: 1; z-index: 2;}}

@keyframes open2 {from {left: -50vw; z-index: -1;}to {left: 0; z-index: 2;}}

@keyframes appear {from {opacity: 0;}to {opacity: 1;}}

@keyframes dissappear {from {opacity: 1;}to {opacity: 0;}}

@keyframes transpare {from {backdrop-filter: blur(0px); opacity: 0; z-index: -1;}to {backdrop-filter: blur(10px); opacity: 1; z-index: 1;}}

@keyframes transpare2 {from {backdrop-filter: blur(10px); opacity: 1; z-index: 1;}to {backdrop-filter: blur(0px); opacity: 0; z-index: -1;}}

@keyframes up {from {top: 0;}to {top: -100px;}}

@keyframes down {from {top: -100px;}to {top: 0;}}

@media screen and (max-height: 3000px) and (max-width: 1920px) {
	#menuWrapper {
		position: absolute;
		width: 900px;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0);
		left: 0;
		opacity: 0;
		z-index: -1;
	}
	
	#menuParts {
		position: absolute;
		width: 800px;
		height: 100vh;
		background-color: rgba(255, 255, 255, 0);
		left: 0;
	}

	#menuPart1 {
		position: relative;
		float: left;
		width: 400px;
		height: 100vh;
		background-color: white;
	} 
	
	#menuPart2 {
		position: absolute;
		right: 0.1vw;
		width: 400px;
		height: 100vh;
		background-color:#eeeff2;
	}
}

@media screen and (max-height: 3000px) and (max-width: 1700px) {
	#logoWrapper {
		position: absolute;
		width: 100vw;
		height: calc(11vw + 200px);
		text-align: center;
		background-color: rgba(255, 255, 255, 0);
	}
	
	#Logo {
		position: absolute;
		display:flex;
		margin:0 0 10px;
		justify-content:center;
		align-items:center;
		font-size: 15vw;
		width: 100%;
		height: 100%;
		text-decoration: none;
		color: black;
		letter-spacing: 1vw;
		font-family: Impact;
		transform: scale(1, 1);
		caret-color: white;
		background-color: rgba(255, 255, 255, 0);
	}	

}

@media screen and (max-height: 3000px) and (max-width: 1023px) {
	#logoWrapper {
	position: absolute;
	width: 100vw;
	height: 300px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0);
	}

	#Logo.center {
		animation-name: grow;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: both;
	}

	#menuButton {
		position: absolute;
		top: 51%;
		transform: translateY(-50%);
		left: 6%;
		width: 30px;
		cursor: pointer;
		border: none;
		opacity: 0;
		background-color: rgba(255, 255, 255, 0);
	}

	#searchButton {
		position: absolute;
		top: 52%;
		transform: translateY(-50%);
		right: auto;
		left: calc(10% + 50px);
		width: 25px;
		cursor: pointer;
		border: none;
		opacity: 0;
		background-color: rgba(255, 255, 255, 0);
	}
	@keyframes grow {from {font-size: 15vw;}to {font-size: 900%;}}

	@keyframes slideMidTop {from {width: 100vw; top: 0;}to {width: 220vw;top: 50%; transform: translate(-12%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 220vw; top: 50%; transform: translate(-12%, -50%) scale(0.2);}to {top: 0; width: 100vw;}}

}

@media screen and (max-height: 3000px) and (max-width: 950px) {
	#menuWrapper {
		position: absolute;
		width: 105vw;
		height: 105vh;
		background-color: rgba(255, 255, 255, 0);
		left: 0;
		opacity: 0;
		z-index: -1;
	}
	
	#menuParts {
		position: absolute;
		width: 105vw;
		height: 105vh;
		background-color: rgba(255, 255, 255, 0);
		left: 0;
	}

	#menuPart1 {
		position: relative;
		float: left;
		width: 105vw;
		height: 105vh;
		background-color: white;
	} 
	
	#menuPart2 {
		position: absolute;
		right: 0.1vw;
		width: 0;
		height: 100vh;
		background-color:#eeeff2;
	}

	#closeButtonWrapper	 {
		position: absolute;
		right: 0;
		width: 6vw;	
		height: 100vh;	
		background-color: rgba(255, 255, 255, 0);
		z-index: 2;
	}
	
	#closeButton {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: rgba(255, 255, 255, 0);
		left: -60px;
		top: 32px;
		cursor: pointer;
		border: none;
		transition: transform 2s ease, backdrop-filter 0.5s ease;
	}
}

@media screen and (max-height: 3000px) and (max-width: 760px) {
	#logoWrapper {
		position: absolute;
		width: 102vw;
		height: 300px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0);
	}
	
	#Logo.center {
		animation-name: grow;
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-delay: 0s;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: both;
	}

	#closeButton {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: rgba(255, 255, 255, 0);
		left: -60px;
		top: 32px;
		cursor: pointer;
		border: none;
		transition: transform 2s ease, backdrop-filter 0.5s ease;
	}

	#footerWrapper {
		width: 1870px;
		height: 950px;
		padding-left: 8vw;
		background-color: black;
	}
	

	@keyframes slideMidTop {from {width: 102vw; top: 0;}to {width: 220vw;top: 50%; transform: translate(-12%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 220vw; top: 50%; transform: translate(-12%, -50%) scale(0.2);}to {top: 0; width: 102vw;}}


}

@media screen and (max-height: 3000px) and (max-width: 650px) {
	#closeButton {
		position: absolute;
		width: 30px;
		height: 30px;
		background-color: rgba(255, 255, 255, 0);
		left: calc(-6.5vw - 20px);
		top: 32px;
		cursor: pointer;
		border: none;
		transition: transform 2s ease, backdrop-filter 0.5s ease;
	}

	@keyframes slideMidTop {from {width: 102vw; top: 0;}to {width: 220vw;top: 50%; transform: translate(-13%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 220vw; top: 50%; transform: translate(-13%, -50%) scale(0.2);}to {top: 0; width: 102vw;}}
}

@media screen and (max-height: 3000px) and (max-width: 550px) {
	@keyframes slideMidTop {from {width: 102vw; top: 0;}to {width: 220vw;top: 50%; transform: translate(-14%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 220vw; top: 50%; transform: translate(-14%, -50%) scale(0.2);}to {top: 0; width: 102vw;}}
}

@media screen and (max-height: 3000px) and (max-width: 450px) {
	
	@keyframes slideMidTop {from {width: 102vw; top: 0;}to {width: 220vw;top: 50%; transform: translate(-15%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 220vw; top: 50%; transform: translate(-15%, -50%) scale(0.2);}to {top: 0; width: 102vw;}}
}

@media screen and (max-height: 3000px) and (max-width: 420px) {
	#logoWrapper {
		position: absolute;
		width: 102vw;
		height: 220px;
		text-align: center;
		background-color: rgba(255, 255, 255, 0);
	}
	#Country {
		position: relative;
		display: inline;
		float: left;
		background-color: black;
		color: white;
		font-size: 4.9vw;
		font-family: Porsche;
		letter-spacing: 0.6px;
	}
	#currentLanguage {
		position: relative;
		float: left;
		background-color: black;
		color: white;
		left: 15px;
		top: 50%; 
		transform: translateY(-45%);
		font-size: 4vw;
		font-family: Porsche;
	}
	#footerButton {
		position: relative;
		float: left;
		background-color: black;
		color: white;
		left: 40px;
		top: 50%; 
		transform: translateY(-45%);
		font-size: 4vw;
		border: none;
		cursor: pointer;
		z-index: 2;
		text-decoration: underline;
		font-family: Porsche;
	}
	@keyframes slideMidTop {from {width: 102vw; top: 0;}to {width: 250vw;top: 50%; transform: translate(-20%, -50%) scale(0.2);}}

	@keyframes slideTopMid {from {width: 250vw; top: 50%; transform: translate(-20%, -50%) scale(0.2);}to {top: 0; width: 102vw;}}
}
